<%- include('includes/pageTop.ejs') %>

<body>
<script src="javascripts/passwordValidator.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <br>
            <h3 class="text-center text-white mb-3">Welcome to the Universe <br> An Online Gallery of NASA Images</h3>
            <br>
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h5 class="card-title">Please choose a password</h5><br>
                    <form class="row g-3 needs-validation" id="passwordForm" action="/completed" method="post">
                        <div class="mb-1">
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Password" required>
                        </div>
                        <div class="mb-1">
                            <input type="password" class="form-control" id="password2" name="password2"
                                   placeholder="Confirm Password" required>
                        </div>
                        <div class="text-danger errormessage d-none" id="shortPassword">
                            Password must be at least 8 characters
                        </div>
                        <div class="text-danger errormessage d-none" id="notMatching">
                            Passwords are not matching!
                        </div>
                        <div class="text-center mb-2">
                            <button class="btn btn-info w-50" type="submit">Register</button>
                        </div>
                    </form>
                    <div class="form-text-bold text-center mb-3">
                        <form action="/register" method="post">
                            <button type="submit" class="btn btn-info">Back</button>
                        </form>
                    </div>
                    <div class="form-text-bold text-center">Already Registered?
                        <form action="/" method="get">
                            <button type="submit" class="btn btn-link">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('includes/pageBottom.ejs') %>